<main class="container">
  <article>

    <section>
      <h1>{{ title }}</h1>
      {{ content }}
    </section>
    
    {% for  key, slider in sliders %}

      <section id="swiper{{ key + 1 }}" class="swiper swiper{{ key }}">
        <div class="swiper-wrapper">

          {% for keyImg,image in slider %}

            {% if keyImg != 'slider_effect' %}
              <div class="swiper-slide"><img class="current_image" src="{{ image.urls['regular'] }}"/></div>
            {% endif %}

          {% endfor %}

        </div>
      </section>

      <script>
        var swiper{{ key }} = new Swiper(".swiper{{ key }}", {
          effect: "{{slider.slider_effect}}",
          grabCursor: true,
        });
      </script>
    {% endfor %}
    
  </article>
</main>